@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



*, *::before, *::after {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color01: #25055A;
    --color02: #DAE0F8;
    --color03: #78747478;
    --color04: #FFFFFF;
    --color05: #000000;

    --main-font: 'Poppins', sans-serif;
}

body {
    background-color: var(--color02);
    font-family: var(--main-font);
}

header {
    width: 100%;
    height: 88px;
    background-color: var(--color01);
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    color: var(--color04);
    font-size: 28.49px;
    text-align: center;
    font-weight: 400;
}

main {
    width: 100%;
}

main .main_title {
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}

main .main_title h1 {
    font-size: 46.49px;
    font-weight: 400;
    text-shadow: 1px 1px 3px #00000081;
}

#banner {
    background-image: linear-gradient(rgba(12, 14, 38, 0.49), rgba(12, 14, 38, 0.49)), url('/images/Rectangle\ 3.png');
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: center;
}

#banner .container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 1200px;
}

#banner .container h2 {
    flex: 1;
    color: var(--color04);
    font-size: 46.49px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000000;
    width: 100%;
}

#banner .container h3 {
    flex: 1;
    color: var(--color04);
    font-size: 28.49px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000000;
    width: 100%;
}

.destaques {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bigger_container {
    max-width: 1200px;
    margin-bottom: 50px;
}

.bigger_container .destaques_title {
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.bigger_container .destaques_title h1 {
    font-size: 46.49px;
    font-weight: 400;
    text-shadow: 1px 1px 3px #00000081;
}

.bigger_container .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.bigger_container .container .item {
    width: 260px;
    height: 260px;
    background-color: var(--color03);
    display: flex;
    align-items: center;
}

footer {
    background-color: var(--color01);
    height: 100px;
    display: flex;
    align-items: center;
}

footer div {
    color: var(--color04);
    font-size: 28.49px;
    text-align: center;
}

@media (max-width: 1400px) {
    #banner .container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 800px) {
    #banner .container {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        height: 100%;
    }

    #banner {
        height: 50vh;
    }
}

@media (max-width: 500px) {
    #banner .container {
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }

    #banner .container h2 {
        font-size: 27.49px;
        text-align: center;
        padding-top: 20px;
    }

    #banner .container h3 {
        font-size: 18.49px;
        text-align: center;
    }

}